* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container {
    width: 576px;
    margin: 10px auto;
}

/* Vì HTML dùng class="header" */
.header {
    height: 120px;
    background-color: #666666;
    color: white;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
}

.main {
    display: flex;
    min-height: 278px;
}

/* Vì HTML dùng class="nav left" */
.nav.left {
    width: 174px;
    background-color: #cccccc;
    padding-top: 35px;
    padding-left: 18px;
}

    .nav.left a {
        display: block;
        color: blue;
        text-decoration: underline;
        font-size: 16px;
        line-height: 20px;
    }

.content {
    width: 402px;
    background-color: #f1f1f1;
    padding: 35px 18px;
    font-size: 16px;
}

    .content h1,
    .content h2,
    .content h3 {
        margin-top: 0;
    }

/* Vì HTML đang viết class="Footder" */
.Footder {
    height: 66px;
    background-color: #808080;
    color: white;
    text-align: center;
    line-height: 66px;
    font-size: 16px;
}
