h3 {
    color: #003399;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Bảng chính */
table {
    width: 1000px;
    margin-left: 20px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 13px;
    border: 1px solid #e5e5e5;
}

/* Ô tiêu đề */
th {
    color: #ff4b00;
    background-color: white;
    text-align: left;
    padding: 7px 8px;
    border: 1px solid #e5e5e5;
    font-weight: bold;
}

/* Ô dữ liệu */
td {
    color: #22b33a;
    padding: 6px 8px;
    border: 1px solid #e5e5e5;
}

/* Dòng lẻ */
tbody tr:nth-child(odd) {
    background-color: white;
}

/* Dòng chẵn */
tbody tr:nth-child(even) {
    background-color: #d3d3d3;
}
