@{
    Layout = "~/Views/Shared/Bai1.cshtml";
    ViewBag.Title = "Paris";
}

<h1>Paris</h1>

<p>
    Paris is the capital city of France.
    It is famous for the Eiffel Tower, art, fashion, food, and culture.
</p>