@{
    Layout = "~/Views/Shared/Bai1.cshtml";
    ViewBag.Title = "Tokyo";
}

<h1>Tokyo</h1>

<p>
    Tokyo is the capital city of Japan.
    It is known for technology, modern buildings, traditional culture, and busy city life.
</p>